.container {
  position: relative;
  margin-top: 2vh;
  width: 200vh;
  margin-left: 10vh;
  padding: 3vh;
  background-color: #f9f9f9;
  border-radius: 2%;
}

.item {
  color: #333333;
  display: flex;
  align-items: center;
  /* border: 1px solid #0d0d0d; */
  padding: 1vh;
  /* border-radius: 2vh; */
}

.centering {
  display: flex;
  justify-content: center;
  gap: 10vh;
}

.common {
  margin-top: 2vh;
  display: flex;
  justify-content: space-start;
  gap: 10vh;
  background-color: #cef5f55b;
  border-radius: 10px;
}

.litspace {
  gap: 1vh;
}

.morspace {
  gap: 5vh;
}

.row5 {
  margin-top: 2vh;
  display: flex;
  gap: 2vh;
}

.error {
  color: #ff4d4f;
  font-size: 10px;
  margin-top: 2px;
  font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .mlabel {
    font-size: 12px;
    font-weight: 550;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .mlabel {
    font-size: 16px;
    font-weight: 550;
  }
}

@media screen and (min-width: 1025px) {
  .mlabel {
    font-size: 20px;
    font-weight: 550;
  }
}

@media screen and (min-width: 1200px) {
  .mlabel {
    font-size: 2.2vh;
    font-weight: 550;
  }
}

 
.logOut {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
} 


.c1{
  background: rgba(255, 255, 255, 0.25);
}
.tran1{
 display: flex;
  gap: 2%;
  flex-direction: row;
  width: 20%;
  align-items: center;
}
.tran2{
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: 2%;
  background: rgba(255, 255, 255, 0.25);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2%;
}