.recom {
  display: flex;
  position: relative;
  margin-top: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
  justify-content: flex-start;
  padding: 2vh;
}

.gridForClass {
  position: relative;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
  margin-right: 5vh;
}

.spaced {
  display: flex;
  gap: 2vh;
  margin-top: 2vh;
}
.olo{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.logOutp {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  justify-content: flex-start;
}
.stickyAlert {
  position: sticky;
  top: 0;
  z-index: 999;
}

.head {
  gap: 10vh;
  margin-top: 3vh;
  display: flex;
  margin-left: 2vh;
  flex-direction: row;
  gap: 18vh;
  padding-left: 10vh;
}

.similar {
  margin-top: 3vh;
  display: flex;
  margin-left: 2vh;
  flex-direction: row;
  gap: 30vh;
  padding-left: 10vh;
}

.buttongrp{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10vh;
  gap: 2vh;
}
.panel{
  display: flex;
  flex-direction:column;
  gap: 10vh;
}
.ok{
  display: flex;
  flex-direction: row;
  gap: 2vh;
}


.navbar {
  margin-top: 3vh;
  gap: 3vh;
  justify-content: space-between;
  margin-left:5rem ;
  margin-right: 5rem;
  display: flex;
  background-color: white; /* Change the background color as needed */
  overflow: hidden;
}

.navbar h1 {
  margin: 0;
  padding: 10px 20px;
  float: left;
  color: white;
}

.navbar .logout-button {
  float: right;
  margin: 10px 20px;
}
